h1 {
    text-align: center;
    display: inline-flex;
    flex: 77%;
}
.menubaron li {
    display: block;
    text-align: center;
}

.menubaron {
    background-color: var(--bgfuncolor);
    padding: 0.3em 0em 0.1em 1.0em;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

.menubaroff{ /*noview*/
   /* position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;*/
display: none;
    clip: rect(1px, 1px, 1px, 1px);
}

#menu {
    border-radius: 0px 0px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#menu ul{
    padding: 0em;
}

#menu li {
    display: block;
    text-align: center;
}
/* MENU da rivedere su prototipo */
#menu[isHamb="false"] {
    padding: 0.3em 0em 0.1em 1.0em;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#hambutton {
    display: inline-flex;
}

#nomemenu {
display: flex;
}
