* {
  padding: 0em;
  margin: 0em;
}

:root {
  --visitedcolor: #000000;
  --linkcolor: #FFFFFF;
  --bgfuncolor: #DB334F;
  --bgcolor: #FFFFFF;
  --txtcolor: #000000;
  --shadowcolor: #d2d2d2;
}

html,
body {
  font-size: 100%;
  font-family: "Time New Roman", serif;
  line-height: 1.5em;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
  margin: auto;
}

body {
  max-width: 1024px;
}

h1,
h2 {
  text-align: center;
}

/*SALTA CONTENUTO*/

.noview {
  display: none;
}

.noview:focus {
  display: none;
}

/*TITOLO*/

#nomemenu h1 {
  text-indent: 0em;
  line-height: 1.5em;
  font-size: 6em;
}

/*AREA RISERVATA*/

#riservata {
  display: none;
}

/*HAMBURGER*/

.hambuttonoff {
  display: none;
}

.hambuttonon {
  display: none;
}

/*BOX*/

#box {
  background-color: var(--bgfuncolor);
  padding: 0em 0em 0em 0em;
  border-radius: 0em 0em 0em 0em;
  font-size: 1.3em;
}

/*MENUBAR*/

.menubaroff {
  display: none;
}

.menubaron {
  display: none;
}

.menubaron ul {
  display: none;
}

.menubaron ul li {
  display: none;
}

/*MENU*/

#menu {
  display: none;
}

#menu ul {
  display: none;
}

#menu ul li {
  display: none;
}

/*LINK*/

a {
  background-color: var(--bgfuncolor);
}

a:link {
  color: var(--linkcolor);
}

a:visited {
  color: var(--visitedcolor);
}

#box a {
  background-color: var(--bgfuncolor);
  font-size: 1.3em;
}

#box a:link {
  color: var(--linkcolor);
  font-size: 1.3em;
}

#box a:visited {
  color: var(--visitedcolor);
  font-size: 1.3em;
}

#currentLink {
  color: var(--linkcolor);
  background-image: url("../img/logo_vetrina.svg");
  background-size: 1.0em;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 1.4em;
  font-size: 1.3em;
}

/*BREADCRUMB*/

#breadcrumb {
  background-color: none;
  padding: 0em 0em 0em 0em;
  border-radius: 0em 0em 0em 0em;
  font-size: 1.1em;
}

#breadcrumb a:link {
  font-size: 1.1em;
}

#breadcrumb a:visited {
  font-size: 1.1em;
}

#contenuto {
  width: 100%;
  padding: 0em;
  border-radius: 0em;
  margin: 0em 0em 0em 0em;
  box-shadow: 0em 0em 0em 0em;
}

/* INIZIO PAGINA */

#iniziopagina {
  display: none;
}
/* FOOTER */

#footer {
  display: none;
}


#login,
#signup,
#cambio_pass {
  text-align: center;
}

.modifica {
  font-size: 103%;
  color: white;
  background-color: var(--bgfuncolor);
  border-color: var(--bgfuncolor);
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding: 0.2em 0.5em 0.5em 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}


/*CAROUSEL*/
/* Slideshow container */
.slideshow-container {
  text-align: center;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin: 2em auto;
  max-width: 100%;
}

.slideshow-container img {
  width: 95%;
  height: 95%;
}

/*
#description>form {
  font-size: 2em;
  line-height: 3em;
  padding: 5%;
}

#description>form #informazioni {
  width: auto;
  height: 100%;
  margin: 0.5em;
  font-size: 2.5em;
  line-height: 3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;

}

.button__text {
  color: white;
  text-align: center;
  display: inline-block;
}*/
/*
#msgWish,
#msgWish2 {
  height: 3em;
  width: auto;
  display: none;
  text-align: center;
  border-radius: 0.5em;
  background-color: #c2e0c6;
  border: 1px solid #276749;
  font-size: 3em;
  line-height: 3em;
  margin: 5%;
  padding: 0;
  position: inherit;
}*/

/*END CARROUSEL*/

/*WISHLIST*/

.contentProdotto .nome,
.contentProdotto .categoria {
  width: auto;
  height: 100%;
  margin: auto;
  font-size: 1.5em;
  padding: 1%;
  font-weight: bold;
  text-align: left;
  line-height: 3em;
}

.contentProdotto .descrizione{
  width: auto;
  height: 100%;
  margin: auto;
  font-size: 1.2em;
  padding: 1%;
  font-weight: bold;
  text-align: left;
  line-height: 3em;
}

.contentProdotto a.wish-link {
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
  border: 0em;
  border-radius: 0em;
  padding: 0em;
  margin: 0em;
}

/*FINE WISHLIST*/


/*PROFILO*/

.flexutente div.elimina_utente_big {
  font-size: 0.5em;
}
.flexutente div.elimina_utente_big #msg_confirm{
  font-size: 1.8em;
}

/*FINE PROFILO*/

/*HOME CARROUSEL*/

.slideshow-container-home a{
  margin:1%;
}

/*END CARROUSEL HOME*/

  /*UTENTI*/
  .flexutente {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    line-height: 1.5em;
    font-size: 1em;
    margin: 2%;
    border: 1px solid #505050;
  }

  .flexutente div {
    font-size: 1.3em;
  }

  /*FINE UTENTI*/

  /*CONTATTI*/
  .grassetto {
    font-weight: bold;
  }

  #form_informazioni {
    text-align: center;
    font-size: 1.3em;
  }

  .titolo-contatti {
    font-size: 2em;
    line-height: 3em;
    margin: 0.5em;
  }

  #messaggio {
    line-height: 1.5em;
    font-size: 1em;
    margin: 0.5em;
    height: auto;
    width: auto;
  }

  #form_informazioni input[type="submit"],
  #form_informazioni input[type="email"] {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1%;
    border: 1px solid #505050;
  }

  .sopra {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0.5em;
  }

  /*FINE CONTATTI*/
  #riservata a {
    color: var(--visitedcolor);
    font-weight: bold;
    font-size: 1em;
    line-height: 3em;
    border: 0.2em solid var(--bgfuncolor);
    border-radius: 0.5em;
    padding: 1%;
    margin: 1%;
    position: relative;
    bottom: 20px;
  }

  /*LOGIN*/
  .login-h2 {
    font-size: 2em;
    line-height: 2em;
    margin: 0.5em;
  }

  .link-reg a {
    display: none;
  }

  form .inp {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.5em;
    border: 1px solid #505050;
    margin: auto;
    padding: auto;
    line-height: 1.6em;
  }
  form .lab {
    margin: auto;
    padding: auto;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: bold;
  }


  p.link-reg a {
    color: var(--visitedcolor);
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;
    border: 0.2em solid var(--bgfuncolor);
    border-radius: 0.5em;
    padding: 0.2em;
    margin: 2%;
    position: relative;
    top: 18px;
  }

  /*FINE LOGIN*/

  /*REGISTRATI*/
  .regi-title {
    font-size: 200%;
    line-height: 3em;
    margin: 0.5em;
  }

  .reginp {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.3em;
    border: 1px solid #505050;
    margin: auto;
    padding: auto;
    line-height: 1.5em;
  }

  .reglab {
    margin: auto;
    padding: auto;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: bold;
  }



  /*END REGISTRATI*/

  /*CAROUSEL*/

  .position-container {
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto;
  }

  #product-name {
    font-size: 2.5em;
    line-height: 2.5em;
    margin: 0.5em;
  }

  /* Style for navigation buttons */
  .prev-home,
  .next-home {
    display: none;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {
      opacity: .5
    }

    to {
      opacity: 1
    }
  }

  .descr_prodotto {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: normal;
  }
  #content {
    position: relative;
  }

  .button {
    display: none;
  }

  /*END CAROUSEL*/

  #msgWish,
  #msgWish2 {
    height: auto;
    width: auto;
    display: none;
    text-align: center;
    border-radius: 0.5em;
    background-color: #c2e0c6;
    border: 1px solid #276749;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 7%;
    padding: 1%;
    position: inherit;
    font-weight: normal;
  }

  #description>form {
    font-size: 1.5em;
    line-height: 3em;
    padding: 5%;
  }

  #description>form #informazioni {
    width: auto;
    height: 20%;
    margin: 0.5em;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;

  }

  .button__text {
    color: white;
    text-align: center;
    display: inline-block;
  }

  /*WISHLIST*/

  .wish-title {
    font-size: 2em;
    line-height: 2em;
    margin: 0.5em;
}


  .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5em;
  }

  .container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 1em var(--shadowcolor);
    margin: 1%;
  }

  .image-container {
    display: none;
  }

  .image-container>img {
    display: none;
  }

  .image-container .open-button {
    display: none;
  }

  .image-container .open-button img {
    display: none;
  }


  .contentProdotto {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    gap: 0.2em;
    font-size: 1em;
  }

  .contentProdotto .nome,
  .contentProdotto .descrizione,
  .contentProdotto .categoria {
    width: auto;
    height: 100%;
    margin: auto;
    font-size: 100%;
    margin-left: 2%;
    margin-right: auto;
    padding: 1%;
    margin-bottom: 1%;
    text-align: left;
    line-height: 1.5em;
    font-weight: normal;
  }

  .wish-link a {
    font-weight: bold;
    font-size: 100%;
    line-height: 3em;
    border: 0em;
    border-radius: 0em;
    padding: 0em;
    margin: 0em;
  }

  .contentProdotto .button-container {
    display: none;
  }

  .contentProdotto .button-container input[type="submit"] {
    display: none;
  }

  .vaiProdotto {
    flex: 2;
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.2em;
    cursor: pointer;
    line-height: 3em;
    padding: 1%;
    border: 1px solid #505050;
    margin-right: 30%;
  }

  .rimuovi-container {
    display: none;
  }

  .remove-button {
    display: none;
  }

  .remove-button img {
    display: none;
  }

  .remove-button:hover img.non-hover-image {
    display: none;
  }

  .remove-button .hover-image {
    display: none;
  }

  .remove-button:hover .hover-image {
    display: none;
  }

  #wish-error {
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    height: 3em;
    width: auto;
    border-radius: 0.5em;
    font-size: 1em;
    line-height: 1.5em;
    margin: 5%;
    padding: 0em;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*FINE WISHLIST*/
  /*PROFILO*/

  .profilo-h2 {
    font-size: 2em;
    line-height: 2em;
    margin: 0.5em;
  }

  .change-error {
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 5%;
    padding: 0em;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .change-success {
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #c2e0c6;
    color: #276749;
    border: 1px solid #276749;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 5%;
    padding: 1%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Old-pass {
    margin: auto;
    padding: auto;
    line-height: 3em;
  }

  .Old-pass label {
    font-size: 1.3em;
    font-weight: bold;
  }

  .Old-pass input[type="password"] {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 1%;
    border: 1px solid #505050;
  }

  .New-pass {
    margin: auto;
    padding: auto;
    line-height: 1.5em;
  }

  .New-pass label {
    font-size: 1.3em;
    font-weight: bold;
  }

  .New-pass input[type="password"] {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 1%;
    border: 1px solid #505050;
  }

  .New-repeat {
    margin: auto;
    padding: auto;
    line-height: 3em;
  }

  .New-repeat label {
    font-size: 1.3em;
    font-weight: bold;
  }

  .New-repeat input[type="password"] {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 1%;
    border: 1px solid #505050;
  }

  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    text-align: left;
    border-radius: 0.5em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 1em var(--shadowcolor);
    margin-left: auto;
    line-height: 1.5em;
    font-size: 1.2em;
    margin-right: auto;
  }

  #minusc,
  #maiusc,
  #numeri,
  #lunghezza {
    color: red;
  }

  #errore_generico,
  #passNOT_combaciano,
  #passNOT_disponibile,
  #old_passwordNOT_giusta,
  #oldPW,
  #newPW,
  #password_rispetta2,
  .invalid,
  #email_disponibile,
  #username_disponibile,
  #password_rispetta,
  #usernameNOT_disponibile,
  #emailNOT_disponibile,
  #passNOT_disponibile,
  #errore_generico,
  #passNOT_combaciano,
  #passuguale,
  #old_passwordNOT_giusta {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    position: inherit;
  }

  .invio {
    display: none;
  }




  #elimina_utente {
   display: none;
  }

  .elimina_utente_big,
  .elimina_utente_big-img {
    line-height: 3em;
    font-size: 1.2em;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 1%;
    border: 1px solid #cc0000;
    border-radius: 0.5em;
    margin: 1%;
    text-align: center;
    box-sizing: border-box;
  }

  #elimina_utente_big-profilo,
  #elimina_utente_big-img-profilo {
    line-height: 1.5em;
    font-size: 1.2em;
    background-color: #ffcccc;
    color: #cc0000;
    padding: 1%;
    border: 1px solid #cc0000;
    border-radius: 0.5em;
    margin: 1%;
    text-align: center;
    box-sizing: border-box;
  }
  
#elimina_utente_big-profilo form div{
  display: flex;
  justify-content: center;
  align-items: center;
}


  .messaggio_elimina {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  /*END PROFILO (ci sono anche un paio di classi che si usano in altre pagine e dovrebbero andare lo stesso)*/

  /*LISTA CATEGORIE*/
  .conteg-container {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 1em;
    cursor: pointer;
    transition: border 0.3s;
    border: 1px solid transparent;
  }

  .conteg-container:hover {
    border: 1px solid var(--visitedcolor);
  }

  .img-categ img {
    max-width: 300px;
    height: auto;
    width: auto;
    margin: 1%;
  }


  .link-class a {
    color: var(--visitedcolor);
    font-weight: bold;
    font-size: 100%;
    line-height: 3em;
    border: 0em;
    border-radius: 0em;
    padding: 0em;
    margin: 1%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    width: auto;
    margin: 5%;
    line-height: 1.5em;
  }

  .desc-categ {
    width: auto;
    height: 100%;
    margin: 0.5em;
    font-size: 1.2em;
    margin-left: 2%;
    margin-right: auto;
    padding: 2.5%;
    line-height: 1.5em;
  }

  /*FINE LISTA CATEGORIE*/

  .slideshow-container-home {
    display: none;
  }

  .slideshow-container-home img {
    display: none;
  }

  .mySlides-home img.homeimg:hover {
    cursor: pointer;
  }

  /* Style for slideshow images */
  .mySlides-home {
    display: none;
  }

  /* Style for the dot container */
  .slideshow-dots {
    display: none;
  }

  /* Style for each dot */
  .dot {
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    /* Cambia il puntatore quando il mouse è sopra un pallino */
    opacity: 0.6;
  }

  .dot.active {
    background-color: #717171;
    opacity: 1;
  }

  /*MESSAGGI*/
  .msggg {
    width: 85%;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0.3em var(--shadowcolor);
    cursor: pointer;
    word-break: break-all;
  }

  .msg_non_letto {
    background-color: #eaeaea;
    color: #4f4f4f;
    border: 2px solid #4f4f4f;
  }

  .msg_letto {
    background-color: #f2f2f2;
    color: #4f4f4f;
    border: 1px solid #d2d2d2;
  }

  .error-message {
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 5%;
    padding: 0em;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success-message {
    height: auto;
    width: auto;
    text-align: center;
    border-radius: 0.5em;
    background-color: #c2e0c6;
    color: #276749;
    border: 1px solid #276749;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 5%;
    padding: 1%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  span>.nome,span>.email{
  font-weight: bold;
}
.inline .data,.inline .email,.inline .product,.inline .letto,.inline .messaggio{
  font-weight: bold;
  line-height: 1.5em;
}
p.inline .email, p.inline .data, p.inline .product, p.inline .messaggio, 
p.inline .letto {
  line-height: 1.5em;
  font-size: 1.2em;
} 
p.inline, p label{
  line-height: 1.5em;
  font-size: 1.3em;
}
.msggg input[type="checkbox"] {
  width: 15px;
  height:15px;
  border: 5px solid #505050;
}
  /*MESSAGGI END*/

  /*CATALOGO START*/

  .titolo_catalogo {
    font-size: 2em;
    line-height: 2em;
    margin: 0em;
  }
  .clickImg2 .open-button {
    display: none;
  }

  .clickImg2 .open-button img {
    display: none;
  }

  .form_catalogo {
    position: relative;
    width: 90%;
    max-width: 90%;
    height: auto;
  }

  .flexcatalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    position: relative;

  }

  .flexcatalogo form {
    gap: 0.5em;
    position: relative;
    width: 90%;
    max-width: 90%;
    height: auto;
    align-items: center;
  }

  .prodotto .nome,
  .prodotto .categoria,
  .prodotto .descrizione,
  .categories .nome,
  .categories .descrizione {
    font-weight: bold;
  }

  #categories {
    width: auto;
    height: auto;
    font-size: 1.5em;
    border: 1px solid #505050;
    margin: auto;
    padding: auto;
    line-height: 1.5em;
  }

  .prodotto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    margin: 1%;
    padding: 1%;
    border: 1px solid #505050;
    position: relative;
    width: 90%;
    max-width: 90%;
    height: auto;
    font-size: 1.3em;
    line-height: 1.5em;
  }

  .flexcatalogo form .prodotto input[type="submit"] {
    font-size: 1.3em;

  }

  .form_catalogo input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 5%;
    border: 5px solid #505050;
  }

  .form_catalogo input[type="file"] {
    margin: auto;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    padding: 0;
  }

  .form_catalogo input[type="checkbox"]~img {
    max-width: 30%;
    max-height: 30%;
    width: 30%;
    height: 30%;
  }

  .form_catalogo textarea {
    width: 70%;
    height: auto;
    max-width: 70%;
    font-size: 1.2em;
    margin: 1%;
    padding: 1%;
  }

  .form_catalogo textarea>div,
  .charCountDiv {
    font-size: 1.3em;
    line-height: 3em;
    margin: auto;
  }

  .flex-container {
    display: block;
    width: 100%;
    justify-content: space-between;
  }
  #img_products{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inline .nome,
  .inline .descrizione,
  .inline .categoria {
    font-weight: bold;
  }

  .pulsanti_catalogo {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .titolo_img_form {
    margin: 0.5em;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
  }

  form .form_catalogo  {
    align-items: center;
    width: 85%;
    border-radius: 0.5em;
    padding: 3%;
    margin: 2%;
    box-shadow: 1em var(--shadowcolor);
    text-align: justify;
    line-height: 3em;
    font-size: 1.2em;
  }

  .testo_regole {
    margin: auto;
    padding: auto;
    line-height: 1.5em;
    font-size: 1.2em;
  }

  #catalogo {
    align-items: center;
    width: 90%;
    margin: 5%;
  }

  .form_catalogo p,
  input[type="text"] {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .form_catalogo div {
    line-height: 1.5em;
  }

  .form_catalogo div p{
    font-size: 1.3em;
  }

  .form_catalogo #elimina_prod,
  #elimina_img {
    text-align: center;
  }


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.hide {
  visibility: hidden; 
  position: absolute;
}

#contact-form {
  display: none;
}

#new_desc_prod {
  line-height: 1.5em;
}

#desc_prod {
  line-height: 1.5em;
}

#new_desc_cat {
  line-height: 1.5em;
}

#desc_cat {
  line-height: 1.5em;
}

