* {
	padding: 0em;
	margin: 0em;
    /*per vedere i bordi di tutti gli elementi e capire dove si posizionano basta togliere commento da riga sotto*/
    /*outline: red dashed 1px;*/
}

:root{
  --visitedcolor: #000000;
  --linkcolor: #FFFFFF;
  --bgfuncolor: #DB334F;
  --bgcolor: #FFFFFF;
  --txtcolor: #000000;
  --shadowcolor: #d2d2d2;
}

html, body{
	font-size: 110%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

h1 {
    text-align: center;
}

body {
    max-width: 1024px;
}

/* MENUBAR */

.menubaroff, .menubaron {
    text-align: right;
}

.menubaroff li, .menubaron li {
    display: inline;
}

.menubaroff #currentLink, .menubaron #currentLink {
    color: var(--linkcolor); /*corretto?*/
    background-color: var(--bgfuncolor);
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 0.5em;
}

.menubaroff a, .menubaron a {
    background-color: var(--bgfuncolor);
    padding: 0em 0.3em 0.3em 0.3em;
    border-radius: 8px 8px 8px 8px; /*ATTENZIONE VALORE ASSOLUTO*/
}

/* HAMBMENU */

.hambuttonoff, .hambuttonon {
    display: none;
}

/* LINK */

a {
    background-color: var(--bgfuncolor);
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

#currentLink {
    color: var(--linkcolor);
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 1em;
}

/* MENU */

#menu{
    background-color: var(--bgfuncolor);
    padding: 0.3em 0em 0.1em 1.0em;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#menu li {
    display: inline;
}

#breadcrumb {
    background-color: var(--bgfuncolor);
    padding: 0.1em 0em 0.3em 1.0em;
    border-radius: 0px 0px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}


#contenuto {
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0em 0em 1em 0em var(--shadowcolor);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#utenti {
    
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0em 0em 0.3em 0em var(--shadowcolor);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#messaggi {
    
  width: 85%;
  /*
  -webkit-border-radius:2em;
  -moz-border-radius:2em;
  */
  border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0em 0em 0.3em 0em var(--shadowcolor);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.flexutente {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline; /*o inline-block*/
}

#iniziopagina {
    text-align: center;
}

#footer {
    background-color: var(--bgfuncolor);
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#login {
    text-align: center;
}

.invio {
    font-size: 103%;
    color: white;
    background-color: var(--bgfuncolor);
    border-color: var(--bgfuncolor);
    padding: 0.2em 0.5em 0.5em 0.5em;
    border-radius: 12px 12px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}

.noview { /*da rivedere*/
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}



/*CAROUSEL*/
    /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 300px;
    width: 300px;
    margin: auto;
  }
  
  .position-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  

  #content {
    position: relative;
  }
  .button {
    position: absolute;
    right:0;
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bgfuncolor);
    background-color: var(--bgfuncolor);
}

.button__text {
    color: white;
    text-align: center;
    display: inline-block;
}

/*END CAROUSEL*/

#Login-Error {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

#email_disponibile, #username_disponibile, #password_rispetta, #password_rispetta2 {
  display: none;
  height:15px;
  width:15px;
  margin:0 auto;
}
#usernameNOT_disponibile, #emailNOT_disponibile, #passNOT_disponibile{
  height:15px;
  width:15px;
  margin:0 auto;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  text-align: left;
  border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0em 0em 1em 0em var(--shadowcolor);
  margin-left: auto;
  margin-right: auto;
}

#message p {
  padding: 10px 35px;
}

#minusc, #maiusc, #numeri, #lunghezza{
  color:red;
}