* {
	padding: 0em;
	margin: 0em;
}

:root{
  --visitedcolor: #000000;
  --unvisitedcolor: #FFFFFF;
  --bglinkcolor: #DB334F;
}

html, body{
	font-size: 110%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: white;
	color: black;
	margin: auto;
}

h1 {
    text-align: center;
}

body {
    max-width: 1024px;
}

#menubar {
    text-align: right;
}

#menubar li {
    display: inline;
}

#menubar #currentLink {
    color: white;
    background-color: #DB334F;
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 0.5em;
}

a {
    background-color: var(--bglinkcolor);
}

#menubar a {
    background-color: var(--bglinkcolor);
    padding: 0em 0.3em 0.3em 0.3em;
    border-radius: 8px 8px 8px 8px; /*ATTENZIONE VALORE ASSOLUTO*/
}

a:link {
    color: var(--unvisitedcolor);
}

a:visited {
    color: var(--visitedcolor);
}

#menu{
    background-color: #DB334F;
    padding: 0.3em 0em 0.1em 1.0em;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#menu li {
    display: inline;
}

#breadcrumb {
    background-color: #DB334F;
    padding: 0.1em 0em 0.3em 1.0em;
    border-radius: 0px 0px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#currentLink {
    color: white;
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 1em;
}

#contenuto {
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0em 0em 1em 0em #d2d2d2;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#utenti {
    
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0em 0em 0.3em 0em #d2d2d2;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.flexutente {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline; /*o inline-block*/
}

#iniziopagina {
    text-align: center;
}

#footer {
    background-color: #DB334F;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#login {
    text-align: center;
}

.invio {
    font-size: 103%;
    color: white;
    background-color: #DB334F;
    border-color: #DB334F;
    padding: 0.2em 0.5em 0.5em 0.5em;
    border-radius: 12px 12px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}

.noview { /*da rivedere*/
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}



/*CAROUSEL*/
    /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  
/*END CAROUSEL*/