* {
	padding: 0em;
	margin: 0em;
    /*per vedere i bordi di tutti gli elementi e capire dove si posizionano basta togliere commento da riga sotto*/
    /*outline: red dashed 1px;*/
}

:root{
  --visitedcolor: #000000;
  --linkcolor: #FFFFFF;
  --bgfuncolor: #DB334F;
  --bgcolor: #FFFFFF;
  --txtcolor: #000000;
  --shadowcolor: #d2d2d2;
}

html, body{
	font-size: 110%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

h1 {
    text-align: center;
}

#nomemenu h1{
  background-image: url('../img/logo_vetrina.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  line-height: 1.5em;
  font-size: 6em;
}

body {
    max-width: 1024px;
}

/* MENUBAR */

.menubaroff, .menubaron {
    text-align: right;
}

.menubaroff li, .menubaron li {
    display: inline;
}

.menubaroff #currentLink, .menubaron #currentLink {
    color: var(--linkcolor); /*corretto?*/
    background-color: var(--bgfuncolor);
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 0.5em;
}

.menubaroff a, .menubaron a {
    background-color: var(--bgfuncolor);
    padding: 0em 0.3em 0.3em 0.3em;
    border-radius: 8px 8px 8px 8px; /*ATTENZIONE VALORE ASSOLUTO*/
}

/* HAMBMENU */

.hambuttonoff, .hambuttonon {
    display: none;
}

/* LINK */

a {
    background-color: var(--bgfuncolor);
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

#currentLink {
    color: var(--linkcolor);
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.3em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.6em;
    padding-right: 1em;
}

/* MENU */

#menu{
    background-color: var(--bgfuncolor);
    padding: 0.3em 0em 0.1em 1.0em;
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#menu li {
    display: inline;
}

#breadcrumb {
    background-color: var(--bgfuncolor);
    padding: 0.1em 0em 0.3em 1.0em;
    border-radius: 0px 0px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}


#contenuto {
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0em 0em 1em 0em var(--shadowcolor);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.utenti {
    
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0em 0em 0.3em 0em var(--shadowcolor);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#messaggi {
    
  width: 85%;
  /*
  -webkit-border-radius:2em;
  -moz-border-radius:2em;
  */
  border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0em 0em 0.3em 0em var(--shadowcolor);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.flexutente {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline; /*o inline-block*/
}

#iniziopagina {
    text-align: center;
}

#footer {
    background-color: var(--bgfuncolor);
    border-radius: 12px 12px 0px 0px; /*ATTENZIONE VALORE ASSOLUTO*/
}

#login, #signup {
    text-align: center;
}

.invio {
    font-size: 103%;
    color: white;
    background-color: var(--bgfuncolor);
    border-color: var(--bgfuncolor);
    padding: 0.2em 0.5em 0.5em 0.5em;
    border-radius: 12px 12px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
}

.modifica {
  font-size: 103%;
    color: white;
    background-color: var(--bgfuncolor);
    border-color: var(--bgfuncolor);
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.2em 0.5em 0.5em 0.5em;
    border-radius: 12px 12px 12px 12px; /*ATTENZIONE VALORE ASSOLUTO*/
    float: right;
}

.noview { /*da rivedere*/
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.noview:focus {
  position: static;
  width: auto;
  height: auto;
}

/*CAROUSEL*/
    /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 300px;
    width: 300px;
    margin: auto;
  }
  
  .position-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  

  #content {
    position: relative;
  }
  .button {
    position: absolute;
    right:0;
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bgfuncolor);
    background-color: var(--bgfuncolor);
}

.button__text {
    color: white;
    text-align: center;
    display: inline-block;
}

/*END CAROUSEL*/

.error-message {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  border: 1px solid #cc0000;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#email_disponibile, #username_disponibile, #password_rispetta, #password_rispetta2 {
  display: none;
  height:15px;
  width:15px;
  margin:0 auto;
}
#usernameNOT_disponibile, #emailNOT_disponibile, #passNOT_disponibile{
  height:15px;
  width:15px;
  margin:0 auto;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  text-align: left;
  border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0em 0em 1em 0em var(--shadowcolor);
  margin-left: auto;
  margin-right: auto;
}

#message p {
  padding: 10px 35px;
}

#minusc, #maiusc, #numeri, #lunghezza{
  color:red;
}

#msgWish {
  display:none;
  text-align: center;
  border-radius: 12px; /*ATTENZIONE VALORE ASSOLUTO*/
  margin-top: 3em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  background-color: #c2e0c6;
  color: #276749;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.prodotto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #505050;
  box-sizing: border-box;
  position: relative;
  width: 90%;
  height: auto;
}

.image-container {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

.contentProdotto {
  flex: 1;
}
.image-container > img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 0em 0em 1em 0em var(--shadowcolor);
}

.image-container .open-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  cursor: pointer;
}

.image-container .open-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  border: 1px solid #505050;
  border-radius: 20%;
  padding: 2px;
}


.prodotto .nome {
  font-weight: bold;
  margin-bottom: 5px;
  align-self: flex-start; /* Align nome to the top */
}

.prodotto .descrizione {
  margin-bottom: 10px;
}

.prodotto .categoria {
  font-style: italic;
  margin-bottom: 10px;
}

.prodotto .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prodotto .button-container button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.rimuovi-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.remove-button {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30%;
  border: 1px solid #505050;
  box-shadow: 0em 0em 1em 0em var(--shadowcolor);
  transition: background-color 0.5s, transform 0.5s, filter 0.5s;
}

.remove-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s, filter 0.5s;
}

.remove-button:hover img.non-hover-image {
  opacity: 0;
  transform: scale(0.9);
}

.remove-button:hover {
  background-color: var(--bgfuncolor);
}

.remove-button .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.remove-button:hover .hover-image {
  opacity: 1;
}