* {
    padding: 0em;
    margin: 0em;
    /*per vedere i bordi di tutti gli elementi e capire dove si posizionano basta togliere commento da riga sotto*/
    /*outline: red dashed 1px;*/
}

:root {
    --visitedcolor: #000000;
    --linkcolor: #FFFFFF;
    --bgfuncolor: #DB334F;
    --bgcolor: #FFFFFF;
    --txtcolor: #000000;
    --shadowcolor: #d2d2d2;
}

html, body {
	font-size: 100%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

body {
    max-width: 1024px;
}

h1 {
    text-align: center;
}

/*SALTA CONTENUTO*/

.noview { /*da rivedere*/
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.noview:focus {
  position: static;
  width: auto;
  height: auto;
}

/*TITOLO*/

#nomemenu h1 {
    background-image: url('../img/logo_vetrina.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}

/*AREA RISERVATA*/

#riservata {
    text-align: right;
}

/*HAMBURGER*/

.hambuttonoff { /*Il menu è chiuso*/
    width: 4em;
    height: 4em;
    /*background-image: url("../img/hamOn.png");*/
    filter: invert(100%);/*
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;*/
    background-color: #24ccb0;
    border-radius: 1.5em 1.5em 1.5em 1.5em;

}

.hambuttonon { /*Il menu è aperto*/
    width:4em;
    height: 4em;
    /*background-image: url("../img/hamOff.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;*/
    background-color: #DB334F;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}

/*BOX*/

#box {
    background-color: var(--bgfuncolor);
    padding: 0.3em 1em 0.1em 1.0em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    font-size: 1.3em;
}

/*MENUBAR*/

.menubaroff {
    display: none;
}

.menubaron {
    text-align: center;
}

.menubaron ul {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

.menubaron ul li {
	margin-top: 1em;
    text-align: center;
}

@media(orientation: landscape) and (min-width: 790px) {

    #box {
        background-color: var(--bgfuncolor);
        padding: 0.6em 1em 0.1em 1.0em;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    
    .menubaron {
        text-align: right;
        margin-bottom: 1em;
    }
/*
    .menubaron ul {
        display: inline;
    }*/

    .menubaron ul li {
        padding-right: 0.6em;
        display: inline;
    }
}

/*MENU*/

#menu {
    text-align: center;
}

#menu ul {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

#menu ul li{
	margin-top: 1em;
    text-align: center;
}

@media(orientation: landscape) and (min-width: 790px) {

    #menu {
        text-align: left;
    }

    #menu ul li {
        display: inline;
        padding-right: 1em;
    }
}

/*LINK*/

a {
    background-color: var(--bgfuncolor);
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

#box a {
    background-color: var(--bgfuncolor);
    font-size: 1.3em;
}

#box a:link {
    color: var(--linkcolor);
    font-size: 1.3em;
}

#box a:visited {
    color: var(--visitedcolor);
    font-size: 1.3em;
}

#currentLink {
    color: var(--linkcolor);
    background-image: url("../img/logo_vetrina.svg"); /*bianco?*/
    background-size: 1.0em;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.4em; /*distanza img da link corrente */
    /*padding-right: 1em; /*distanza dalla voce successiva*/
    font-size: 1.3em;
}

@media(max-aspect-ratio: 1/1.7) {
    .menubaron {
        font-size: 2.3em;
    }

    .menubaron ul {
        line-height: 1.5em;
    }
	
    #menu {
        font-size: 2.3em;
    }

    #menu ul {
        line-height: 1.5em;
	}
}

/*BREADCRUMB*/

#breadcrumb {
    background-color: var(--bgfuncolor);
    padding: 0.1em 0em 0.3em 0em;
    border-radius: 0px 0px 0.5em 0.5em;
    font-size: 1.1em;
}

#contenuto {
    width: 85%;
    /*
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    */
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0em 0em 1em 0em var(--shadowcolor);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* INIZIO PAGINA */

#iniziopagina {
    text-align: center;
}

/* FOOTER */

#footer {
    font-size: 0.8em;
    background-color: var(--bgfuncolor);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em 0.5em 0em 0em;
}