sonar-project.properties
.htaccess
.scannerwork/
.vscode/
Relazione/relazione.log
Relazione/relazione.aux
Relazione/relazione.synctex.gz
Relazione/relazione.dvi
Relazione/relazione.synctex.gz
Relazione/relazione.toc
Relazione/relazione.synctex.gz
Relazione/relazione.tex.bak
